/*#8C93A8
3C1B43
D33F49*/

body {
  padding: 0;
  margin: 0;
  padding-left: 0.5%;
  margin-top: 50px;
  background-color: #F2F0EF;
}
.h2h {
  grid-column: 2;
  /* grid-row: 1; */
}
.carIMG {
  height: 100px;
}
section {
  /* border-radius: 8%; */
  padding: 2% 2% 2% 2%;
  /* box-shadow: 7px 7px 0 rgba(0, 0, 0, 0.5); */
  margin: 3px 3px 3px 3px;
}
.wrapper {
  display: grid;
  margin: 0% 1% 0% 0.5%;
  grid-template-columns: 1fr 1fr;
}
h1 {
  margin: 0.5% 1% 0% 1%;
  color: #D33F49;
}

/* h2 {
  color: #D33F49;
  background-image: 
        url("../images/image.png");
    background-repeat: repeat-x;
    background-position: right top;
  background-size: 25%;
  background-color: rgb(0, 100, 255, 0);
} */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0.75%;
  overflow: hidden;
  background-color: #3C1B43;
  display: flex;
}
/* 
ul li {
  float: left;
} */
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li .head {
  display: block;
  /* color: white; */
  text-align: center;
  width: 250px;
  padding: 4px 5px 0 2px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}
th {
  text-align: left;
}
#tbod td {
  padding: 5px 5px 5px 0px;
  text-align: left;
}
#itable td {
  padding: 5px 5px 5px 0px;
  text-align: left;
}
#comp {
  width: 100%;
  table-layout: fixed;
}
#comp td {
  width: 35%;
  text-align: center;
}
#comp th:first-child {
  width: 30%;
  text-align: left;
}
#drivs {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 35% 35%;
}
#drivs label {
  display: flex;
  flex-direction: column;
}
#driv1, #driv2 {
  width: 100%;
  box-sizing: border-box;
}
#drivs button {
  grid-column: 1;
  justify-self: start;
  align-self: end;
}
#comp td :not(:first-child) {
  text-align: center;
}
.stnds {
  margin-left: 0;
}